#calculator {
  background-color: #192527ff;
  width: 300px; 
  height: 400px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 0.5%;
}

#screen-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  width: 258px;
  height: 70px;
  border: 1px solid #8bd1d9ff;
  text-align: right;
  box-sizing: border-box;
  overflow: hidden; /*esconde o texto que passar da caixa*/
  white-space: nowrap; /*não quebra linha*/
  border-radius: 1%;
}

#upper-number, #result-number {
  float: right;
  color: #FFF;
}

#result-number {
  font-weight: bold;
  margin-top: 5px;
  font-size: 22px;
  clear: both; /*não afeta os elementos abaixo dele com o float*/
}

.btn-container {
  position: relative; /*este container será o referência para os de position absolute*/
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  width: 50px;
  height: 50px;
  margin: 0 7.5px;
  line-height: 50px;
  text-align: center;
  color: #8bd1d9ff;
  background-color: #354357;
  font-weight: bold;
  font-size: 18px;
  display: inline-block; /*pra ficar um botão ao lado do outro*/
  cursor: pointer;
  border-radius: 5%;
}

.btn:hover {
  background-color: #293D40;
}

#ac-btn {
  margin-left: -200px;
}

#division-btn {
  position: absolute;
  right: 14px;
}

#zero-btn, #equals-btn {
  width: 120px;
}

#ac-btn, #division-btn, #multiplication-btn, #minus-btn, #plus-btn, #equals-btn, #dot-btn {
  font-weight: 300;
  font-size: 20px;
}